{% extends "base.html" %}
{% block content %}

<h3>Wag Adoption</h3>
<br />
<h2>Our Animals!<h2>
<br />
<h3> Dogs!<h3>

<p>
    {% load static %} <img src="{% static "App/media/Maggie.JPG" %}" alt="Mag">  </p>
<h5> Maggie <h5>
<h6> Golden Retriver/Unknown | 12 Years | 37 lbs <h6>
<p> Maggie is one of our favorites here at Wag. She is, extremely smart, gentle and always willing to play or just lie down on the couch and snuggle up, great for families with young kids but isn't a huge fan of other dogs. She'll be a great addition to any family! But be careful, she eats more than anyone! </p>

<p>
    {% load static %} <img src="{% static "App/media/MandK.jpg" %}" alt="twins">  </p>
<h5> Mia and Kylo <h5>
<h6> Husky Mixes | 7 Months | 8 and 12 lbs<h6>
<p> These two are unseperable and are looking for a forever home. They love a game of tag and are full of energy. They both love being smothered with treats and cuddles, but are just as happy being left alone together. Mia is the shy one and Kylo is plenty mischevious. They are two great dogs for a family ready to train them and are good with other dogs and older kids. <p>


<p>
    {% load static %} <img src="{% static "App/media/cash.jpg" %}" alt="Cash">  </p>
<h5> Cash <h5>
<h6> Pitbull | 4 Years | 60 lbs <h6>
<p>  Cash is our big boy and has an equally big personality. He's very smart and loves to learn tricks. He's also the perfect outdoors dog but loves being a coach potato when he finally runs out of energy. He gets along great with other dogs, and is okay with young kids or other animals. <p>

<br />
<br />

<h3> Cats!<h3>

<p>
    {% load static %} <img src="{% static "App/media/potato.jpg" %}" alt="potato">  </p>
<h5> Sweet Potato <h5>
<h6> 10 years old | 12 lbs <h6>
<p> Sweet Potato is a gentle, loving, and laid-back cat. His foster describes him as "the cool old dude" who can be found hanging in his usual spots around the house. He is a pretty food-motivated guy who loves his yummy treats. Sweet Potato really enjoys being around his people and is happy to sit in your lap. You may have to bring him over, but once he settles in, Sweet Potato will stay there as long as you let him. He loves to be loved. <p>

<p>
    {% load static %} <img src="{% static "App/media/mando.jpg" %}" alt="mando">  </p>
<h5> Mando <h5>
<h6> 3 months old | 2 lbs+ <h6>
<p> Mando is a funny girl. She is sweet, playful, and looking for a home where she can blossom into the brave girl we know she can be. Mando loves to cuddle with her sister, Marla, and you will often see her flirting with her head hanging out of her hid-a-box or her paws waving hello from behind her sister. She loves to rabbit kick on her toys!<p>

<br />
<br />
<h3> Other!<h3>

<p>
    {% load static %} <img src="{% static "App/media/john.jpeg" %}" alt="john">  </p>
<h5> Jumpin' John <h5>
<h6> Rabbit | 5 lbs+ <h6>
<p>John is always ready for an adventure! His foster home reports that he is a very active rabbit, he likes to go out and explore the whole room. His favorite past-time is exploring the world and zipping around his playpen leaping about. He loves to eat carrots and celery and is great at using his litter box and is full of life. <p>

<p>
    {% load static %} <img src="{% static "App/media/choco.jpg" %}" alt="taco">  </p>
<h5> Choco Taco <h5>
<h6> Guinea Pig | 21 oz <h6>
<p> Choco Taco (hence the name) is a well set gentleman who loves to eat. He would love to spend his days munching in his eclosure but could use as much excerise as he can get. He is happy to be held and played with and is a great first pet.
{%endblock%}